.symptom-button {
    height: 14em;
    vertical-align: middle;
    text-align: center;
    line-height: 7em;
  }

  .list-button {
    height: 7em;
    width: 100%;
    vertical-align: middle;
    text-align: center;
  }

  .search-height{
    height: 6em;
  }
  
  #add-new {
    height: 35.5em;
  }
  
  .tabs {
    height: 12em;
  }

  .title {
    font-size: 6em;
  }
  
  .subtitle {
    font-size: 3em;
  }
  .top-buffer{
    margin-top: 3em;
  }
  .top-buffer-title{
    margin-top: 0.5em;
  }