.symptom-button {
    height: 14em;
    vertical-align: middle;
    text-align: center;
    line-height: 7em;
  }

  .search-height{
    height: 6em;
  }
  
  #add-new {
    height: 35.5em;
  }
  
  .tabs {
    height: 12em;
  }

  .title {
    font-size: 72px;
  }
  
  .subtitle {
    font-size: 40px;
  }
  .top-buffer{
    margin-top: 3em;
  }
  .top-buffer-title{
    margin-top: 0.5em;
  }